# Guide to create discord bot and get tokens: https://discordjs.guide/preparations/setting-up-a-bot-application.html#creating-your-bot
DISCORD_TOKEN=

# Create your Challonge account and get your keys here: https://challonge.com/settings/developer
CHALLONGE_API_KEY=